@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body{
    margin: 0;
    font-family: 'Noto Serif', serif;
    background-color: #e9c46a;
}
.navbar{
    width: 100%;
    height: 65px;
    background-color: #457b9d;
}
ul{
    list-style: none;
    display: inline-block;
    padding: 0;
    padding-left: 20px;
}
.navbara{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
/* #mylogo{
   width: 40px;
   height: 40px;
   position: relative;
   left: 30px;
   top: 10px;
} */
.navbara:hover{
    transition: 2s;
    border: 2px solid #9ef01a;
    border-radius: 15px;
    background-color: #9ef01a;
    color: #000814;
}
#mainb{
    text-align: center;
    margin: 0;
   
}
.projectbox{
    border: 2px solid #84a59d;
    width: 400px;
    height: 400px;
    background-color: #84a59d;
    border-radius: 10px;
}
.projectlinks{
    text-decoration: none;
    color: #e63946;
    padding-left: 5px;
}
#projectul{
    margin: 0;
    padding: 0;

}
.projectlinks:hover{
    background-color: #e63946;
    color: white;
    border-radius: 10px;
    transition: 2s;
}
h3{
    text-align: center;
}