@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 24px;
    background-image: url(pp.jpg);
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    padding: 0.4em;
    color: #fdf0d5;
}
ul,li{
    list-style: none;
    display: inline;
}

p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: #fdf0d5;
}
h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #780000;
}
@media (min-width : 1024px){
    .container{
        border: 2px solid #669bbc;
        border-radius: 10px;
        height: 400px;
        width: 600px;        
    }
    h1{
        font-size: 40px;
    }
}
@media (max-width: 479px){
    h1{
        font-size: 35px;
    }
    .container{
        border: 2px solid #669bbc;
        border-radius: 2%;
        
    }
    body{        
        background-size: inherit;
    }
}
@media (max-width : 850px){
    h1{
        font-size: 35px;
    }
    .container{
        border: 2px solid #669bbc;
        border-radius: 2%;
        
    }
    body{        
        background-size: inherit;
    }
}


